.badge--container {
  /* background-color: #f5f5f5; */
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: flex-end;

}

.badge--container>div>img {
  border: 1px solid #0000003c;
  border-radius: 22px;
  margin: 15px;
  opacity: 0.3;
  width: 150px;
  height: 150px;
}

.badge--container>div>img.selected {
  opacity: 1;
}

button {
  background-color: #4056d4;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  font-weight: bolder;
}