<div class="wrapper--container">
  <div id="image-container"></div>
</div>

{% {% schema %}
  {
    "name": "badge",
    "target":"block",
    "javascript": "bundled-badges.js",
   
  }
{% endschema %} %}