<div class="wrapper--container">
  <div id="image-container" style=" display:flex;gap:10px;flex-wrap:wrap;"></div>
</div>

{% schema %}
  {
    "name": "badge",
    "target": "section",
    "javascript": "badges.js",
    "stylesheet": "badges.css",
    "settings": []
  }
{% endschema %}