<div class="wrapper--container">
  <div id="image-container" style="width: 100px; height: 100 px; background: red;">
    <span>im image</span>
  </div>
  <span>here</span>
</div>

{% schema %}
  {
    "name": "badge",
    "target": "section",
    "javascript": "bundled-badges.js"

  }
{% endschema %}