<div>
  <div id="root"></div>
  <span>test 11</span>
</div>



{% schema %}
  {
    "name": "badge",
    "target": "section",
    "javascript": "badgeLoader.js",
    "stylesheet": "badges.css",
    "settings": []
  }
{% endschema %}